<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/style.css')}}">
    <title>Fortnite Store </title>
</head>
<body>
    <h1> Welcome to the Fortnite stoore</h1>
    {% for item in items %}
        <p>{{item.name}}</p>
        <p class="{{item.rarity}}">Rarity: {{item.rarity}}</p>
        <p>Cost: {{item.vBucks}}</p>
        <img src="{{item.imageUrl}}" height="300" width="300">
    {% endfor  %}
</body>
</html>